body {
  font-family: arial, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  line-height: 28px;
}

button {
  margin-left: 5px;
  position: relative;
  top: 1px;
}

input[type="text"] {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(220, 201, 201, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 44px;
  outline: 0;
  padding: 10px;
  width: 300px;
}

.btn {
  border-radius: 2px;
  color: #fff;
  height: 44px;
}

.weather-icon {
  margin-top: 5px;
}

.weather-summary {
  padding: 20px 0;
}

.weather-summary-header {
  padding-bottom: 20px;
}

.weather-detail__text {
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

.weather-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 20px 0;
  max-width: 630px;
  padding: 20px 16px 24px 16px;
}

.weather__icon {
  float: left;
}

.weather__icon--today {
  float: left;
  height: 64px;
  width: 64px;
}

.weather-unit__text--today {
  color: #333;
  float: left;
  font-size: 16px;
  line-height: 1.5;
}

.weather-unit__text-separator {
  float: left;
  font-size: 16px;
  line-height: 1.5;
  padding: 0 5px;
}

.weather-temp--today {
  color: #333;
  float: left;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  padding-left: 10px;
}

.weather-view-buttons {
  padding: 15px 0 10px;
  display: block;
}

.weather-view__button {
  background-color: #f5f5f5;
  background: linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #222;
  float: left;
  font-size: 11px;
  font-weight: 700;
  line-height: 27px;
  min-width: 54px;
}
.Weathers {
  border: 1px solid #282c34;
  border-radius: 10px;
  padding: 10px 40px;
}

.WeatherTemperature .temperature {
  font-size: 60px;
  font-weight: 500;
}

.Weather canvas {
  margin: 10px;
}

.WeatherTemperature .unit {
  top: -33px;
  position: relative;
}

.Weather p {
  text-align: left;
}