body {
  font-family: arial, sans-serif;
}

h1 {
  color: #f1eeee;
  font-size: 30px;
  font-weight: 100;
  margin: 0;
  line-height: 28px;
}


.btn {
  border-radius: 20px;
  color: #b1a3a3;
  font-size: 20px;
  height: 44px;
  background-color: #a02929;
}


.Weathers {
  border: 1px solid #a4a8b1;
  border-radius: 30px;
  padding: 10px 40px;
}

.WeatherTemperature .temperature {
  font-size: 60px;
  font-weight: 500;
}

.WeatherTemperature .unit {
  top: -33px;
  position: relative;
}


